.hero-img {
  width: 32rem;
  height: 36rem;
  padding: 3.2rem;
  background-color: var(--dark-gray);
  border-radius: 3rem;
  right: 2.2rem;
  cursor: pointer;
}

.hero-img::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 80%;
  top: 0;
  left: 0;
  background-color: var(--dark-light);
  border-radius: 3rem 0 0 0;
  z-index: -1;
  transform: translate(-2.2rem, -2.2rem);
  transition: all 0.3s ease-in-out;
}

.hero-img::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  bottom: 0;
  background-color: var(--dark-light);
  border-radius: 0 0 3rem 0;
  z-index: -1;
  transform: translate(2.2rem, 2.2rem);
  transition: all 0.3s ease-in-out;
}

.hero-img:hover::after,
.hero-img.hero-img:hover::before {
  transform: translate(0, 0);
  background-color: transparent;
}

.hero-img:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
}

.line {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--dark-gray);
}

.title {
  gap: 0.3rem;
}

.clamp {
  text-wrap: wrap;
  font-size: 6.2rem;
  font-weight: 600;
}

/* product section  */

#product main {
  border-radius: 3rem 3rem 0 0;
  background-color: var(--dark-gray);
  padding: 3rem;
}

#product .product-img {
  width: 10rem;
  height: 14rem;
}

.img-collapse {
  flex-direction: row-reverse;
}

.negative-margin-right {
  margin-right: -1.6rem;
}

.img-collapse img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.product-des {
  text-wrap: stable;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dark-light);
  border-radius: 50%;
}

.left-text {
  left: 0;
  top: 8.2rem;
  transform: rotate(-90deg) translateY(-8rem);
}

.right-text {
  top: 8.2rem;
  right: 0;
  transform: rotate(-90deg) translateY(12rem);
}

.right-text img {
  box-sizing: unset;
  transform: rotate(90deg);
  width: 3rem;
  padding: 1rem;
  background-color: var(--dark-light);
  border-radius: 50%;
}
